.delivelyItemTable {
  border-collapse: collapse;

  th, td {
    border: solid 1px;
  }

  th {
    font-family: sans-serif;
    font-weight: bold;
  }

  .unitPriceCell, .giftBonusCell, .skillBonusCell, .quantityCell {
    text-align: right;
  }

  .deleteButtonCell {
    text-align: center;
  }
}
